.wf-active {
    .block--content {
        h1 {
            animation-name: titles;
            animation-duration: .5s;
            animation-fill-mode: forwards;
            animation-timing-function: ease;

        }
    }
}

header {
    z-index: 9999;
    position: relative;

    &.header {
        @include media($max-sm) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}

.header--bg {
    position: relative;

    img {
        top: 0;
        position: relative;
        z-index: 1;
    }

    .block--content {
        position: absolute;
        z-index: 3;

        @include media($screen-xl) {
            margin-left: calc((100vw - 1400px) / 2 );
        }
    }

    &.bg--pink {
        height: 25vh;
        margin-bottom: 3em;

        @include media($screen-sm) {
            height: 62vh;
            margin-bottom: 10em;
        }


        .vertical--center {
            top: 60%;
        }
    }

    &.bg--image {
        @include media($screen-sm) {
            margin-bottom: 4em;
        }


    
    }
}