nav {
    display: inline-block;
    height: 100%;

    ul {
        list-style-type: none;
        margin: 0;

        @media screen and (max-height: 420px) {
            @media screen and (max-width: $screen-sm-max) {
                width: 80%;
                margin: 0 auto;
                column-count: 2;

                li {
                    line-height: 2;
                    padding: 0 !important;
                }
            }
        }

        li {
            display: inline-block;

            &.current-menu-item {
                a {
                    color: white;

                    @include media($screen-sm) {
                        color: map-get($pink, main);
                        font-style: normal;
                    }
                }
            }

            a {
                color: inherit;
            }
        }
    }

    @include media($max-sm) {
        transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        will-change: top, transform;
        -webkit-will-change: top, transform;
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        background: map-get($pink, main);
        position: fixed;

        $tan: tan(4deg);

        top: calc(100px - (#{$tan} * 100vw));
        left: 0;
        z-index: 999999;
        width: 100%;
        text-align: center;

        ul {
            li {
                display: block;
                padding: .5em 0;
                margin: 0;

                a {
                    font-size: 1.7em !important;
                }
            }
        }

        &:before {
            left: 0;
            top: 0;
            right: 0;
            position: absolute;
            background: inherit;
            content: '';
            display: block;
            height: 50%;
            transform: skewY(-4deg);
            transform-origin: left top;
            z-index: -1;
        }

        &:after {
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            background: inherit;
            content: '';
            display: block;
            height: 50%;
            transform: skewY(-4deg);
            transform-origin: right bottom;
            z-index: -1;
        }

        &.cananimate {
            transition: top 0.2s $base-cubic, transform 0.2s $base-cubic;
        }
    }
}

// Animations on open
@include media($max-sm) {
    body.open {
        position: fixed;

        nav {
            transition: top 0.2s $base-cubic, transform 0.2s $base-cubic;
            top: 100px;
            transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
            will-change: top, transform;
            -webkit-will-change: top, transform;
            -webkit-backface-visibility: hidden;
            -webkit-perspective: 1000;

            // overflow: scroll;
            @media (prefers-reduced-motion) {
                transition: none !important;
            }
        }

        .header--bg {
            img {
                opacity: 0;
                transition: opacity 0.3s $base-cubic;
            }
        }
    }

    body {
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-color: white;
            height: 100vh;
            opacity: 0;
            transition: opacity 0.3s $base-cubic;
            z-index: -1;
        }

        header.header {
            transition: border 0.2s $base-cubic;
        }

        .header--bg {
            img {
                opacity: 1;
                transition: opacity 0.3s $base-cubic;
            }
        }
    }

    body.open {
        &:after {
            transition: opacity 0.3s $base-cubic;
            opacity: 1;
            z-index: 999;
        }

        header.header {
            transition: border 0.2s $base-cubic;
            border-color: transparent !important;
        }
    }
}
.home{
    .current-menu-item {
        a{
            color: inherit;
        }
    }
}