.post-type-project {
    .block--content {
        width: 100%;

        h1 {
            @include media($screen-md) {
                max-width: 70%;
            }


            text-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
        }
    }

    .section--galelry-wrap {
        .block--gallery-featured {
            margin-bottom: $mobile-spacing;

            @include media($screen-sm) {
                margin-bottom: 1em;
            }


            img {
                width: 100%;
                height: auto;
            }

            position: relative;
            padding-bottom: 53.75%;
            padding-top: 35px;
            height: 0;
            overflow: hidden;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        .block--gallery {
            @include media($screen-sm) {
                column-count: 2;
                column-gap: 1em;
            }


            img {
                margin: 0;
                border-bottom: $mobile-spacing solid transparent;
                display: block;

                @include media($screen-sm) {
                    border-bottom: 1em solid transparent;
                }
            }
        }
    }

    .block--categories {
        position: relative;
        font-size: .8em;
        right: $mobile-spacing;
        top: $mobile-spacing * -1;

        @include media($screen-sm) {
            font-size: 1em;
            top: -3em;
            right: 1em;
        }


        hr {
            float: right;
            clear: both;
            margin-top: -15px;
            margin-bottom: -15px;
        }

        @include media($max-sm) {
            hr {
                display: none;
            }
        }
    }
}

.section--project-content {
    z-index: 99;
    position: relative;
}