.single-post {
    .article-content {
        max-width: 760px;

        h1, h2, h3, h4, h5, h6, p, ul, ol, table {
            @extend .spacing--gutter-mob;

            h1, h2, h3, h4, h5, h6 {
                padding: 0 !important;
            }
        }

        img {
            margin-bottom: .5em;
        }

        @include media($screen-sm) {
            margin-left: 3em;
        }


        h3 {
            @extend .title--stack;

            @extend .color--pink;
        }
    }

    .blog-author {
        img {
            margin: 0 auto;
            border-radius: 100px;
            display: block;
        }
    }

    .blog-author {
        @include media($screen-sm) {
            position: sticky;
            top: 1em;
            right: 0;
        }
    }
}