// -----------------------------------------------------------------------------
// Color one in the pallete
// -----------------------------------------------------------------------------

$pink: (
	main: 			#ffc0e9,
);

$black: (
	main:			#231f20,
);

$gray: (
	main: 			rgba(102, 102, 103, 0.4),
	links:			#adaeae,
);

// -----------------------------------------------------------------------------
// Social Icons
// -----------------------------------------------------------------------------
$social: (
	twitter: 		#78cdf0,
	facebook: 		#537bbd,
	instagram: 		#517fa4,
	youtube: 		#d34836,
	snapchat: 		#fffc00,
	pinterest:		#cb2027,
	google: 		#dd4b39
)