.block--angle {
    position: relative;

    &.angle--right {
        img {
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        }

        &.after {
            &:after {
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                background: inherit;
                content: '';
                display: block;
                height: 8vw;
                transform: skewY(4deg);
                transform-origin: 0;
                z-index: -1;
            }
        }

        &.before {
            &:before {
                left: 0;
                top: 0;
                right: 0;
                position: absolute;
                background: inherit;
                content: '';
                display: block;
                height: 8vw;
                transform: skewY(-4deg);
                transform-origin: 0;
                z-index: -1;
            }
        }
    }

    &.angle--left {
        img {
            clip-path: polygon(0 0, 100% 85%, 100% 0, 0 100%);
        }

        &.after {
            &:after {
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                background: inherit;
                content: '';
                display: block;
                height: 50%;
                transform: skewY(-4deg);
                transform-origin: bottom;
                z-index: -1;
                top: 60%;
            }
        }
    }

    &.after {
        &:nth-of-type(1) {
            z-index: 21;
        }

        &:nth-of-type(2) {
            z-index: 20;
        }

        &:nth-of-type(3) {
            z-index: 19;
        }

        &:nth-of-type(4) {
            z-index: 18;
        }

        &:nth-of-type(5) {
            z-index: 17;
        }

        &:nth-of-type(6) {
            z-index: 16;
        }

        &:nth-of-type(7) {
            z-index: 15;
        }

        &:nth-of-type(8) {
            z-index: 14;
        }

        &:nth-of-type(9) {
            z-index: 13;
        }

        &:nth-of-type(10) {
            z-index: 12;
        }

        &:nth-of-type(11) {
            z-index: 11;
        }

        + .block--angle {
            // padding-top: 20vw;
        }
    }

    &.before {
        &:nth-of-type(1) {
            z-index: 210;
        }

        &:nth-of-type(2) {
            z-index: 200;
        }

        &:nth-of-type(3) {
            z-index: 190;
        }

        &:nth-of-type(4) {
            z-index: 180;
        }

        &:nth-of-type(5) {
            z-index: 170;
        }

        &:nth-of-type(6) {
            z-index: 160;
        }

        &:nth-of-type(7) {
            z-index: 150;
        }

        &:nth-of-type(8) {
            z-index: 140;
        }

        &:nth-of-type(9) {
            z-index: 130;
        }

        &:nth-of-type(10) {
            z-index: 120;
        }

        &:nth-of-type(11) {
            z-index: 110;
        }
    }
}

@keyframes angles {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }
}