.bg--gray {
    background-color: map-get($gray, main);
}

.bg--gray-button {
    background-color: map-get($gray, buttons);
}

.bg--pink {
    background-color: map-get($pink, main);
}

.bg--black {
    background-color: map-get($black, main);
}

.bg--white {
    background-color: white;
}