.block--project {
    position: relative;
    margin-bottom: $mobile-spacing;
    overflow: hidden;
    display: block;
    max-height: 70vh;

    @include media($screen-sm) {
        &.color {
            min-height: 250px;
        }

        margin-bottom: 1em;
    }


    @include media($max-sm) {
        min-height: 56vw;
    }


    img {
        margin-bottom: -10px;
        width: 100%;
    }

    .project--meta {
        position: absolute;
        bottom: 1.2em;
        left: $mobile-spacing;
        width: calc(100% - 2em);
        z-index: 9;

        h2 {
            font-size: 2.5em;
            max-width: 50%;
            hyphens: none;

            @include media($screen-lg) {
                font-size: 4em;
                line-height: .85;
                display: inline-block;
                margin-right: 2em;
            }
        }

        @include media($max-lg) {
            hr {
                display: none !important;
            }
        }


        @include media($screen-sm) {
            left: 1.2em;
        }
    }

    .block--categories {
        transform: translateY(8em);
        position: relative;
        height: 0;
        top: -2em;

        hr {
            transform: translateY(35px) translateX(-6em) rotate(-60deg) skewX(32deg);
            width: 70px;

            @include media($screen-sm) {
                will-change: transform;
                transition: transform 0.3s $base-cubic;

                // transform: translateY(15px) translateX(-5em) rotate(-60deg) skewX(32deg);
                width: 120px;
                margin-right: -10px;
            }
        }

        .category {
            display: block;
            transform: translateY(1em);
            position: relative;

            @include media($screen-sm) {
                will-change: transform;
                transition: transform 0.5s $base-cubic;
            }
        }

        @include media($screen-sm) {
            transition: transform 0.3s $base-cubic;
            will-change: transform;
        }


        @include media($screen-lg) {
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            position: relative;
            display: inline-block;

            // left: -10em;
            // top: -3.3em;
        }


        @include media($max-lg) {
            font-size: 0.9em;
        }
    }

    @include media($screen-sm) {
        &:after {
            content: ' ';
            display: block;
            position: absolute;
            background-color: map-get($black, main);
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 1;
            opacity: 0;
            transition: opacity 0.3s $base-cubic;
        }

        &:hover {
            .block--categories {
                transform: translateY(0em);
                transition: transform 0.3s $base-cubic;

                hr {
                    transition: transform 0.3s $base-cubic;
                    transform: translateY(15px) translateX(-5em) rotate(-60deg) skewX(32deg);
                }

                .category {
                    transform: translateY(0em);
                    transition: transform 0.5s $base-cubic;
                    position: relative;

                    &:last-of-type {
                        transition-delay: .075s;
                    }
                }
            }

            &:after {
                opacity: .85;
                transition: opacity 0.3s $base-cubic;
            }
        }
    }
}

.wf-loading {
    .project--meta {
        bottom: 1em;
        transition: bottom 2s $base-cubic;

        h2 {
            font-size: 2.1em;
            line-height: 1.8;
        }
    }
}