.button {
    border: 1px solid;
    appearance: none;
    text-transform: uppercase;
    line-height: 0;
    padding: 8px 12px 7px 12px;
    font-size: 0.75em;
    letter-spacing: 2px;

    &.color--gray-button {
        background: linear-gradient(to bottom, transparent 0%, transparent 50%, map-get($pink, main) 50%, map-get($pink, main) 100%);
        background-position-y: -5%;
        background-size: 200%;
        background-repeat: no-repeat;
        transition: background-position-y 0.2s $base-cubic, color 0.1s $base-cubic, border-color 0.1s $base-cubic;

        &:hover {
            background-position-y: 100%;
            transition: background-position-y 0.2s $base-cubic, color 0.1s $base-cubic, border-color 0.1s $base-cubic;
            color: white;
            border-color: map-get($pink, main);
        }
    }

    &.color--white {
        background: linear-gradient(to bottom, transparent 0%, transparent 50%, map-get($black, main) 50%, map-get($black, main) 100%);
        background-position-y: -5%;
        background-size: 200%;
        background-repeat: no-repeat;
        transition: background-position-y 0.2s $base-cubic, color 0.1s $base-cubic, border-color 0.1s $base-cubic;

        &:hover {
            transition: background-position-y 0.2s $base-cubic, color 0.1s $base-cubic, border-color 0.1s $base-cubic;
            background-position-y: 100%;
            border-color: map-get($black, main);
        }
    }

    &.color--black {
        background: linear-gradient(to bottom, transparent 0%, transparent 50%, white 50%, white 100%);
        background-position-y: -5%;
        background-size: 200%;
        background-repeat: no-repeat;
        transition: background-position-y 0.2s $base-cubic, color 0.1s $base-cubic, border-color 0.1s $base-cubic;
        color: map-get($black, main);

        &:hover {
            transition: background-position-y 0.2s $base-cubic, color 0.1s $base-cubic, border-color 0.1s $base-cubic;
            background-position-y: 100%;
            border-color: white;
        }
    }
}