.max-wrap {
    max-width: $max-wrap;
}

.flex {
    display: flex;
}

.flex--wrap {
    flex-wrap: wrap;
}

.flex--column {
    flex-direction: column;
}

.flex--row-reverse {
    flex-direction: row-reverse;
}

.justify--between {
    justify-content: space-between;
}

.justify--around {
    justify-content: space-around;
}

.justify--end {
    justify-content: flex-end;
}

.justify--center {
    justify-content: center;
}

.align--items-center {
    align-items: center;
}

.align--items-baseline {
    align-items: baseline;
}

.align--items-start {
    align-items: start;
}

.align--self-start {
    align-self: flex-start;
}

.margin-center {
    margin: 0 auto;
}

.block {
    display: block;
}

.inline--block {
    display: inline-block;
}

.table {
    display: table;
}

.hidden--mob {
    @include media($max-sm) {
        display: none !important;
    }
}

.hidden--dsk {
    @include media($screen-sm) {
        display: none !important;
    }
}

.inline--block {
    display: inline-block;
}

.vertical--center {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    hr {
        width: 190px;
    }
}

.screenreaderonly {
    @include hide-visually;

    + br {
        display: none !important;
    }
}

.order--dsk-2 {
    @include media($screen-sm) {
        order: 2;
    }
}