.hdr-logo-link {
    height: 20px;
    width: 238px;

    .icon-logo {
        display: inline-block;

        svg {
            width: 100%;
        }
    }
}

.icon-burger {
    height: 30px;
    width: 30px;
    display: inline-block;

    svg {
        height: 30px;
        width: 30px;
        transform-origin: center;

        // border: 1px solid red;
   
    }

    svg {
        path {
            transition: transform 0.3s $base-cubic;

            &[data-name="center"] {
                transition: transform 0.2s $base-cubic;
                transform-origin: center;
                transform: rotateY(0deg);
            }

            &[data-name="top"] {
                transform-origin: left top;
                transform: rotateZ(0) translateY(0) translateX(0);
            }

            &[data-name="bottom"] {
                transform-origin: left bottom;
                transform: rotateZ(0) translateY(0) translateX(0);
            }
        }
    }
}

body.open {
    .icon-burger {
        svg {
            path {
                transition: transform 0.3s $base-cubic;

                &[data-name="center"] {
                    transition: transform 0.2s $base-cubic;
                    transform: rotateY(90deg);
                }

                &[data-name="top"] {
                    transform: rotateZ(45deg) translateY(-8px) translateX(3px);
                }

                &[data-name="bottom"] {
                    transform: rotateZ(-45deg) translateX(3px) translateY(8px);
                }
            }
        }
    }
}