.margin--gutter {
    margin-right: 1em;
    margin-left: 1em;

    @include media($screen-md) {
        margin-left: 2em;
        margin-right: 2em;
    }
}

.margin--top-1 {
    margin-top: 1em;
}

.margin--top-2 {
    margin-top: 2em;
}

.margin--top-3 {
    margin-top: 3em;
}

.margin--bot-1 {
    margin-bottom: $mobile-spacing;

    @include media($screen-sm) {
        margin-bottom: 1em;
    }
}

.margin--bot-2 {
    margin-bottom: $mobile-spacing * 2;

    @include media($screen-sm) {
        margin-bottom: 2em;
    }
}

.margin--bot-3 {
    margin-bottom: $mobile-spacing * 3;

    @include media($screen-sm) {
        margin-bottom: 3em;
    }
}

.margin--bot-5 {
    margin-bottom: $mobile-spacing * 5;

    @include media($screen-sm) {
        margin-bottom: 5em;
    }
}