.section--footer-contact {
    .wpcf7 {
        max-width: 680px;
        margin: 0 auto;
    }

    @include media($screen-xs) {}

    @include media($screen-sm) {
    	padding-bottom: 5em !important;
    }

    @include media($screen-md) {

    }


    @include media($screen-lg) {}

    @include media($screen-xl) {}
}