.section--service {
    @include media($screen-sm) {
        // min-height: 560px;
    }


    &:last-of-type {
        margin-bottom: 3em;

        @include media($screen-sm) {
            margin-bottom: 6em;
        }
    }

    align-items: center;
}

.block--project {
    &.service--page {
        .project--meta {
            width: calc(100% - 2em);

            h2 {
                font-size: 2em;

                @include media($screen-md) {
                    font-size: 2.5em;
                }
            }
        }

        img {
            position: absolute;
            height: 100%;
            max-width: none;
        }

        .block--categories {
            position: absolute;
            right: 0;
            top: initial;
            bottom: 2.5em;
        }

        min-height: 56vw;

        @include media($screen-sm) {
            min-height: 33vw;
        }


        @include media($screen-md) {
            min-height: 20vw;
        }
    }
}