.section--service {
    min-height: 560px;
    align-items: center;
}

.block--project {
    &.service--page {
        .project--meta {
            width: calc(100% - 2em);
        }

        img {
            position: absolute;
            height: 100%;
            max-width: none;
        }

        .block--categories {
            position: absolute;
            right: 0;
            top: initial;
            bottom: 2.5em;
        }

        min-height: 56vw;

        @include media($screen-sm) {
            min-height: 33vw;
        }


        @include media($screen-md) {
            min-height: 20vw;
        }
    }
}