.section--service {
    min-height: 560px;
    align-items: center;

    .block--project {
        display: block;
        width: 100%;

        .project--meta {
            width: calc(100% - 2em);
        }

        img {
            position: absolute;
            height: 100%;
            max-width: none;
        }

        .block--categories {
            position: absolute;
            right: 0;
            top: initial;
            bottom: 2em;
        }
    }

    .block--service {}
}