.section--footer-contact {
    padding-bottom: 7em !important;
    margin-bottom: -3em;

    .wpcf7 {
        max-width: 680px;
        margin: 0 auto;
    }

    @include media($screen-xs) {}


    @include media($screen-sm) {

    }


    @include media($screen-md) {}


    @include media($screen-lg) {}


    @include media($screen-xl) {}
}