{% extends "base.twig" %}

{% block content %}
	<main role="main" class="content-wrapper">
	<section class="spacing--gutter spacing--vert-5 text--center bg--pink color--white">
	<h2>Sorry, we couldn't find what you're looking for. <br class="hidden--mob">Trust us, we looked <em>everywhere.</em></h2>
	</section>
</main>
{% endblock %}