{% extends "base.twig" %}
{% block content %}
	<main role="main" class="content-wrapper">
	<article class="post-type-{{post.post_type}} " id="post-{{post.ID}}">
		{% include 'components/sections/section--base-header.twig' %}
		<section class="flex flex--wrap spacing--dsk-vert-3 spacing--gutter max-wrap margin-center justify--between align--items-baseline">
			{% include 'components/blocks/block--about-content.twig' %}
			{% include 'components/blocks/block--about-quote.twig' %}
			{% include 'components/blocks/block--team-member.twig' %}
		</section>
	</article>
	</main>
{% endblock %}