{% extends "base.twig" %}
{% block content %}
	<main role="main" class="content-wrapper color--gray border--top">
	<article class="post-type-{{post.post_type}} color--black" id="post-{{post.ID}}">
		<section class="section--project-grid {% if currentCat %}columns{% else %}flex flex--wrap{% endif %} max-wrap margin-center spacing--gutter spacing--vert-2 justify--between align--items-start">
		{% if currentCat %}
			{% include 'components/sections/section--project-current-cat.twig' %}
		{% else %}
			{% include 'components/sections/section--project-grid.twig' %}
		{% endif %}
	</section>
</article>
{% include 'components/sections/section--footer-contact.twig' %}
</main>
{% endblock %}