{% extends "base.twig" %}
{% block content %}
	<main role="main" class="content-wrapper color--gray border--top">
	<article class="post-type-{{post.post_type}} color--black" id="post-{{post.ID}}">
		<section class="section--project-grid {% if currentCat %}columns{% else %}flex flex--wrap{% endif %} max-wrap margin-center spacing--gutter spacing--vert-2 justify--between align--items-start">
			{% if currentCat %}
				<div class="margin--bot-1 grid--one bg--pink spacing--gutter spacing--vert-3 text--center color--white">
					<h2 class="font--display no--hyphen">You're currently filtering by all {{currentCat}} projects.</h2><br>
					<a href="{{post.link}}" class="color--black button">Get this out of my face.</a>
				</div>
				{% for project in projects %}
					<div class="grid--one">
						{% include 'components/blocks/block--project.twig' %}
					</div>
				{% endfor %}
			{% else %}
				
				{% for project in projects %}
					{% if project.postinfo.featured == true %}
						<div class="grid--one">
							{% include 'components/blocks/block--project.twig' %}
						</div>
					{% endif %}
				{% endfor %}
				{% set fullLoop = projects|length %}
				{% set halfLoop = fullLoop / 2 %}
				
				<div class="grid--one grid--sm-half flex flex--wrap flex--column">
					{% for project in projects|slice(0,halfLoop) %}
						{% if project.postinfo.featured != true %}
							{% include 'components/blocks/block--project.twig' %}
						{% endif %}
					{% endfor %}
				</div>
				<div class="grid--one grid--sm-half flex flex--wrap flex--column">
					{% for project in projects|slice(halfLoop,fullLoop) %}
						{% if project.postinfo.featured != true %}
							{% include 'components/blocks/block--project.twig' %}
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
		</section>
	</article>
	{% include 'components/sections/section--footer-contact.twig' %}
	</main>
{% endblock %}