{% extends "base.twig" %}
{% block content %}
	<main role="main" class="content-wrapper">
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		{% include 'components/sections/section--base-header.twig' %}
		<section class="max-wrap margin-center spacing--gutter">
			{% include 'components/sections/section--single-content.twig' %}
		</section>
	</article>
	</main>
{% endblock %}