{% extends "base.twig" %}
{% block content %}
	<main role="main" class="content-wrapper ">
	<article class="post-type-{{post.post_type}}  color--black" id="post-{{post.ID}}">
		{% include 'components/sections/section--base-header.twig' %}
		{% for service in services %}
			{% include 'components/sections/section--service.twig' %}
		{% endfor %}
	</article>
	{% include 'components/sections/section--footer-contact.twig' %}
	</main>
{% endblock %}