{% extends "base.twig" %}
{% block content %}
	<main role="main" class="content-wrapper">
	<article class="post-type-{{post.post_type}} flex flex--wrap flex--row-reverse justify--around align--items-baseline" id="post-{{post.ID}}">
		{% include 'components/blocks/block--single-header.twig' %}
		{% include 'components/blocks/block--single-author.twig' %}
		{% include 'components/sections/section--single-content.twig' %}
	</article>
	</main>
{% endblock %}