{% extends "base.twig" %}
{% block content %}
	<main role="main" class="content-wrapper">
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		{% include 'components/sections/section--project-header.twig' %}
		{% include 'components/sections/sectoin--project-content.twig' %}
		{% spaceless %}
			{% include 'components/sections/section--project-gallery.twig' %}
		{% endspaceless %}
		{% include 'components/sections/section--project-nextprev.twig' %}
	</article>
	</main>
{% endblock %}