{% if home.contact.shortcode != null %}
	<section class="section--home-contact spacing--gutter spacing--vert-2 bg--pink color--black block--angle angle--right before">
		<h3 class="grid--one text--center font--display font--light">{{home.contact.title}}<hr class="color--black"></h3>
		{{ function('do_shortcode', home.contact.shortcode) }}
	</section>
{% endif %}