<section class="article-content spacing--vert-2 margin--bot-3">
	{# <h1 class="color--pink title--stack">{{post.title}}</h1> #}
	{{post.content}}
	{% if post.post_type == 'post' %}
		{% include 'components/sections/section--more-posts.twig' %}
	{% endif %}
</section>