<div class="margin--bot-2">
	<h2 class="line--short">{{post.title}}<br><span class="font--thin block font--small">{{post.date|date('M Y')}}</span>	<a href="{{post.link}}" class="inline--block margin--top-1 color--gray-links text--uppercase font--smaller font--semi-bold font--acumin letter--1">Read More</a></h2>
</div>