<div class="grid--one section--about grid--sm-three-fourths column--md-2 spacing--vert-2 spacing--dsk–vert-3">
	<h2 class="color--pink title--stack">{{about.content.title|split(' ', 2)[0]}}<br>{{about.content.title|split(' ', 2)[1]}}</h2>
	{{about.content.content}}
</div>
<div class="grid--fifth">
</div>