{% set project = service.project %}
<a class="block--project service--page bg--black bg-image grid--one grid--sm-half grid--md-one" href="{{project.link}}" style="background-image:url('{{project.postinfo.grid_image|resize(1304)}}')">
	<div class="project--meta">
		<h2 class="color--white">{{project.title}}<br><span class="font--light">{{project.postinfo.date|date('Y')}}</span></h2>
		
	</div>
</a>