.section--home-about {
    background-position: bottom;
    background-size: cover;
    padding-top: 5em;
    padding-bottom: 4em;

    .block--about-details {
        h2 {
            margin-bottom: .25em;
        }

        @include media($screen-sm) {
            margin-left: 10%;
            width: 300px;
        }
    }

    @include media($screen-sm) {
        padding-top: 28vh;
        padding-bottom: 56vh;
    }


    @include media($screen-md) {
        background-position: center;
        padding-top: 30vh;
        padding-bottom: 50vh;

        .block--about-details {
            margin-left: 15%;
        }
    }


    @include media($max-sm) {
        .block--about-details {
            p {
                color: white;
            }
        }

        background-image: none !important;
    }
}