.section--home-about {
    background-position: bottom;
    background-size: cover;
    padding-top: 5em;
    padding-bottom: 4em;

    .block--about-details {
        @include media($screen-sm) {
            margin-left: 20%;
            width: 300px;
        }
    }

    @include media($screen-sm) {
        padding-top: 28vh;
        padding-bottom: 56vh;
    }


    @include media($screen-md) {
        background-position: center;
        padding-top: 30vh;
        padding-bottom: 50vh;

        .block--about-details {
            margin-left: 25%;
        }
    }


    @include media($max-sm) {
        background-image: none !important;
    }
}